<div class="container-fluid">
	<div class="jumbotron">
		<h4 class="display-4 my-3">Order Details</h4>
	</div>
		<div class="form-group row my-3">
			<label class="control-label">Select Ticker</label>	
			<input class="form-control" list="datalistOptions" id="exampleDataList"  [(ngModel)]="stockDetails.stockTicker" (ngModelChange)="stockDetails.stockTicker = $event.toUpperCase()" placeholder="Enter ticker if not in dropdown...">
			<button class="btn btn-outline-secondary" type="button" (click)="moreInfo(stockDetails.stockTicker)">MORE INFO...</button>
			<datalist id="datalistOptions" class="text-uppercase">	
				<option value="C">C</option>		
				<option value="AA">AA</option>
				<option value="GOOG">GOOG</option>
				<option value="FB">FB</option>
				<option value="AMZN">AMZN</option>
				<option value="AAPL">AAPL</option>
				<option value="TCS">TCS</option>
				<option value="INFY">INFY</option>
				<option value="DHC">DHC</option>
				<option value="CFG">CFG</option>
				<option value="ZS">ZS</option>				
			</datalist>

		</div>
		
		
		<div class="form-group row my-3">
			<label class="control-label col-md-12">Price</label>
			<input class="form-text" type="text" [(ngModel)]="stockDetails.price" class="form-control">
		</div>

		<div class="form-group row my-3">
			<label class="control-label col-md-12">Volume</label>
			<input class="form-text" type="text" [(ngModel)]="stockDetails.volume" class="form-control">
		</div>     


		
</div>

<div class="ml-auto mr-auto">
<input type="submit" class="btn btn-primary btn-lg my-3 px-5" value = "BUY" (click)="buyStock()">	
		
<input type="submit" class="btn btn-success btn-lg mx-5 px-5" value = "SELL" (click)="sellStock()">
</div>