<div class="jumbotron">
  <h1 class="display-4">Portfolio Manager</h1>
  <p class="lead">This is a simple application to place trade orders and view your portfolio</p>
  <hr class="my-4">
  <p>Made with ❤ by Aashay, Avichal, Hrishikesh, Prachee, & Radha</p>  
</div>